nav {
    display: inline;
	margin: 0 0 0 15px;
    padding: 40px;
}

:root{
    --red: #c41212;
    --black: #000000;
    --light-color: #666;
    --box-shadow:0 .5rem 1 rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Albert Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 60.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding-right: 10rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    width: 200px; 
}

.header .caixa a{
    font-size: 2rem;
    margin:0 1rem;
    color:var(--black);
}

.header .caixa a:hover{
    color: red;
}

