thead{
	background-color: #c41212;
	font: bold;
}
th, td{
	width:300px;
	border: 1px solid black;
	padding: 3px;
	font-size: 20px;
}

#img{
width: 10px;
}
footer{
	text-align: center;
	padding: 40px 0;
}
/* Seletores da cabeça --------------------------------------*/
nav {
	display: inline;
	margin: 0 0 0 15px;
    padding: 40px;
}

:root{
    --blue: #c41212;
    --black: #000000;
    --light-color: #666;
    --box-shadow:0 .5rem 1 rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 60.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--blue)
}

.header .caixa a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .caixa a:hover{
    color:var(--blue);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .search-form{
    position: absolute;
    top:110%; right: -110%;;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer
}
/* Seletores do corpo --------------------------------------*/
.sobre{
	padding: 27px;
	width: 940px;
	margin: 0 auto;
}
.bannerPrincipal{
	width: 1540px;
	float: left;
	margin: 0 80px 30px 0;
}

.padding2{
    padding: 45px;
    
}

.padding3{
    padding: 45px;
    margin: 0px 80px 80px 0px;
}

.titulos{  
    width: 100px;
	float: left;
	margin: 0 20px 20px 0;    
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    color:  #c41212;
}

.titulo1{      
        text-align: center;
        font-size: 4em;
        margin-bottom: 1em;
        color:  #c41212;
}

.titulo2{      
      text-align: center;
      font-size: 1,7em;
      margin-bottom: 1em;
      color: rgb(0, 0, 0);
}

.Ofertas{
    text-align: center;
      font-size: 1,7em;
      margin-bottom: 1em;
      color: rgb(0, 0, 0);
}
.imgOfertas{
	width: 550px;
	float: left;
    flex-direction: column;
	margin: 20px 20px 20px 20px;
}
